.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
bin/
**/.DS_Store
main
output/
manifest/output/
temp/
logs/
.keystore/
serverfile/
**/volumes/
.env
**/*.conf
**/*.yaml
**/*.yml
**/*.toml
!docker-compose.yml
